Triangle.fld filter=lfs diff=lfs merge=lfs -text
Concave.fld filter=lfs diff=lfs merge=lfs -text
GaussianProduct.fld filter=lfs diff=lfs merge=lfs -text
SigmoidDifference.fld filter=lfs diff=lfs merge=lfs -text
Spike.fld filter=lfs diff=lfs merge=lfs -text
Gaussian.fld filter=lfs diff=lfs merge=lfs -text
Linear.fld filter=lfs diff=lfs merge=lfs -text
Ramp.fld filter=lfs diff=lfs merge=lfs -text
Rectangle.fld filter=lfs diff=lfs merge=lfs -text
Binary.fld filter=lfs diff=lfs merge=lfs -text
Cosine.fld filter=lfs diff=lfs merge=lfs -text
Discrete.fld filter=lfs diff=lfs merge=lfs -text
Function.fld filter=lfs diff=lfs merge=lfs -text
Trapezoid.fld filter=lfs diff=lfs merge=lfs -text
ZSShape.fld filter=lfs diff=lfs merge=lfs -text
PiShape.fld filter=lfs diff=lfs merge=lfs -text
Sigmoid.fld filter=lfs diff=lfs merge=lfs -text
Bell.fld filter=lfs diff=lfs merge=lfs -text
Constant.fld filter=lfs diff=lfs merge=lfs -text
SigmoidProduct.fld filter=lfs diff=lfs merge=lfs -text
