include AUTHOR
include CHANGELOG
include COPYING
include LICENSE
include LICENSE.FuzzyLite
include MANIFEST.in
include README.md
include THANKS
include fuzzylite.png
include requirements.txt
include requirements-test.txt

recursive-include fuzzylite *.py
recursive-include tests *.py

recursive-include fuzzylite/examples *.fll
recursive-include fuzzylite/examples *.py

recursive-exclude fuzzylite/examples *.fld
