name: Publish

on:
  release:
    types:
      - created

    #pull_request: # test-only
    #branches: [ main, feature/* ] # test-only

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: release
      #name: test-release # test-only
      url: https://pypi.org/p/pyfuzzylite

    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install requirements
        run: pip install -r requirements-dev.txt

      - name: Build
        run: poetry build

      - name: Publish
        uses: pypa/gh-action-pypi-publish@v1.12.4
        #with:
        #  repository-url: https://test.pypi.org/legacy/ # test-only

      - name: Install development dependencies for documentation
        run: poetry install --only dev

      - name: Publish documentation
        run: nox -e docs -- publish
