name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, development, feature/* ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11", "3.12" ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Check
        run: nox -e check

      - name: Install
        run: nox -e install

      - name: Test
        run: nox -e test
